<section id="skills" class="aqua text-light">
  <h2 class="heading">ABOUT ME</h2>

  <div class="skill">
    <p>

      I am a self-motivated individual that believes there is more to life than meets the eye.
      I love to smile and make others smile. I try to be a better verions of
      myself 1% at a time. I strongly believe that nothing is impossible
      to anyone who believes and is ready to do what it takes. Lastly, I think I play a little
      too much &#128516; .

    </p>
  </div>
</section>